/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;900&display=swap");

* {
  font-family: "Work Sans";
  padding: 0;
  margin: 0;
}
section {
  padding: 50px 200px;
}
.title {
  font-weight: 700;
  font-size: 45px;
}
.description {
  padding-bottom: 30px;
  padding-top: 20px;
  font-weight: 400;
  font-size: 16px;
}
/* Primary Button Styles */
button {
  background-color: #ff900e;
  padding: 15px 20px;
  border: none;
  border-radius: 7px;
}
button a {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}
/* Header Styles */

.home-container {
  padding-bottom: 40px;
  background-color: rgba(255, 144, 14, 0.1);
}
.logo h2 {
  font-weight: 700;
  font-size: 45px;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu li {
  list-style: none;
  display: flex;
}
.menu li > a {
  text-decoration: none;
  color: #424242;
  font-weight: 500;
  font-size: 18px;
}
.menu ul {
  display: flex;
  gap: 20px;
  align-items: center;
}
.main-content {
  width: 862px;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 100px;
  margin: auto;
}
.main-title {
  font-weight: 700;
  font-size: 4em;
  margin-bottom: 25px;
}
.main-content p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
}
.home-container img {
  width: 100%;
}

/* Quick List Styles */
.quick-list-container {
  display: flex;
  gap: 50px;
  align-items: center;
}
.quick-list-container img {
  width: 100%;
}
.quick-gallary {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
.quick-list-container > div {
  flex: 1;
}
.span-text {
  color: #727272;
  font-weight: 500;
}

/* Experience Styles */
.ex-color-heading {
  border-left: 5px solid #ff900e;
  padding-left: 15px;
}
.experience-container {
  display: flex;
  gap: 50px;
}
.experience-container > div {
  flex: 1;
}
/* .experience-container img {
  width: 100%;
} */
.experience-gallary {
  background-image: url("./images/architect.png");
  position: relative;
  margin-left: 50px;
  margin-bottom: 40px;
}
.year-btn-content {
  background-color: #ff900e;
  border-radius: 8px;
  width: 330px;
  height: 130px;
  text-align: center;
  position: absolute;
  left: -50px;
  bottom: -40px;
  margin: auto;
}

.btn-title {
  color: #fff;
  padding-top: 15px;
  font-weight: 700;
  font-size: 3.3em;
}
.btn-description {
  color: #fff;
  font-weight: 500;
  font-size: 1.2em;
}

.experience-box {
  margin-bottom: 20px;
  padding: 30px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}
.experience-title {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
}
.experience-description {
  font-weight: 400;
  font-size: 16px;
  text-align: justify;
}
/* Some Facts Styles */
.fact-heading-content {
  width: 542px;
}
.fact-content {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  padding-top: 50px;
}

.icons {
  padding: 45px 35px;
  border: 1px solid #ff900e;
  text-align: center;
}
.icon-description {
  font-weight: 600;
  font-size: 18px;
  color: #727272;
}

/* Our Sponspors Styles */
.clint-list {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.clint-logo > img {
  width: 80%;
  height: 80%;
}
.sponspors-content {
  text-align: center;
  width: 542px;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
}

/* Footer Style */
.footer-content {
  background-color: #fff4e7;
  padding: 38px 0px;
  text-align: center;
}
